*{
    padding:0; margin:0;
}
.welcome{
    text-align: center;
    display:inline;
    margin:26%;
}

.logo{
    display:inline;
}

.navi{
    background-color:green;
    padding:30px;
    text-align: center;
}

a{
    padding: 30px;
}

a:hover{
    background-color: lightgreen;
}